<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>AI Based Dengue Detection System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Grotesk&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- DataTables CSS -->
  <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="/static/users/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/users/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/users/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/users/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom border-2 border-white">
                <a href="" class="navbar-brand">
                   <h1 class="text-primary">
    <i class="fa fa-heartbeat me-2"></i>Dengue AI
                    </h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/myapp/userhome_get/" class="nav-item nav-link active">Home</a>
                        <a href="/myapp/viewprofile_get/#a" class="nav-item nav-link">Profile</a>
                         <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Predict</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="/myapp/DTpred_get/#a" class="dropdown-item">Decision Tree</a>
                                <a href="/myapp/LRpred_get/#a" class="dropdown-item">Logistic Regression</a>
                                <a href="/myapp/dataset_get/#a" class="dropdown-item">Random Forest</a>
                                <a href="/myapp/SVMpred_get/#a" class="dropdown-item">SVM</a>
                                 <a href="/myapp/XGpred_get/#a" class="dropdown-item">XG Boost</a>
                                 <a href="/myapp/LSTMpred_get/#a" class="dropdown-item">LSTM</a>
                                 <a href="/myapp/comparepred_get/#a" class="dropdown-item">Compared</a>
                            </div>
                        </div>
                                                <a href="/myapp/userviewlogs_get/#a" class="nav-item nav-link">Logs</a>

{#                        <a href="/myapp/review_get/#a" class="nav-item nav-link">review</a>#}
{#                        <a href="/myapp/changepassword_get/#a" class="nav-item nav-link">Password</a>#}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Others</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="/myapp/sentcomplaint_get/#a" class="dropdown-item">Send Complaint</a>
                                <a href="/myapp/viewreply_get/#a" class="dropdown-item">View reply</a>
                                <a href="/myapp/sendreview_get/#a" class="dropdown-item">Send review</a>
                                <a href="/myapp/changepassword_get/#a" class="dropdown-item">Change password</a>
{#                                <a href="404.html" class="dropdown-item">404 Page</a>#}
                            </div>
                        </div>
                        <a href="/myapp/logout_get/" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid pb-5 hero-header bg-light mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center mb-5">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-4 animated slideInRight">
AI-Based <span class="text-danger">Dengue Detection</span> System
</h1>

<h5 class="d-inline-block border border-2 border-danger py-3 px-4 mb-4 animated slideInRight">
Early Detection Saves Lives
</h5>

<p class="mb-4">
"Early detection saves lives — awareness is the first vaccine."
</p>

<a href="/myapp/comparepred_get/#a" class="btn btn-danger px-4 py-2">
    compare predictions
</a>
                    <h5 class="d-inline-block border border-2 border-danger py-3 px-5 mb-0 animated slideInRight">
    Dataset-Based Machine Learning Model
</h5>

                </div>
                <div class="col-lg-6">
                   <div class="owl-carousel header-carousel animated fadeIn">
    <img class="img-fluid" src="{% static 'users/dengue1.jpeg' %}" alt="">
    <img class="img-fluid" src="{% static 'users/dengue2.jpg' %}" alt="">
    <img class="img-fluid" src="{% static 'users/dengue3.jpg' %}" alt="">
</div>
                </div>
            </div>
            <div class="row g-5 animated fadeIn">
                <div class="col-md-6 col-lg-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                            <i class="fa fa-heartbeat text-danger"></i>
                        </div>
                       <h5 class="lh-base mb-0">Machine Learning Prediction</h5>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                            <i class="fa fa-heartbeat text-danger"></i>
                        </div>
                        <h5 class="lh-base mb-0">Real-Time Risk Analysis</h5>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                           <i class="fa fa-heartbeat text-danger"></i>
                        </div>
                       <h5 class="lh-base mb-0">Symptom-Based Detection</h5>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 btn-square border border-2 border-white me-3">
                           <i class="fa fa-heartbeat text-danger"></i>
                        </div>
                       <h5 class="lh-base mb-0">User Health Dashboard</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container" id="a">

            {% block body %}





            {% endblock %}








    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-white">Dengue AI</h1>                    </a>
                    <p class="mb-4"> "Technology in healthcare is not replacing doctors — it is empowering them."</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>calicut</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>rosh@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square border-2 me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Our Services</h5>
                    <a class="btn btn-link" href="">a</a>
                    <a class="btn btn-link" href="">b</a>
                    <a class="btn btn-link" href="">c</a>
                    <a class="btn btn-link" href="">d</a>
                    <a class="btn btn-link" href="">e</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                       &copy; 2026 AI-Based Dengue Detection System | MCA Final Year Project

                        <!--/*** The author’s attribution link must remain intact in the template. ***/-->
                        <!--/*** If you wish to remove this credit link, please purchase the Pro Version . ***/-->
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    {% block scripts %}

    {% endblock %}


    <!-- JavaScript Libraries -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/users/lib/wow/wow.min.js"></script>
    <script src="/static/users/lib/easing/easing.min.js"></script>
    <script src="/static/users/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/users/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/users/js/main.js"></script>
</body>

</html>
